body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 600px; margin: 5px; width: 100%; }
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
background: #81c7ff}


.nodeExample1 {

    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #000;
    width: 170px;
    font-family: Tahoma;
    font-size: 12px;
    height: 190px;
}

.nodeExample1 img {
    margin-right:  10px;
}
.node-title{
    text-align: center;
    background: #ffdc48;
    margin-top: -10px;
}
.scroll{
    width: 165px;
    background: transparent;
    padding: 10px;
    overflow: scroll;
    height: 90px;

    /*script tambahan khusus untuk IE */
    scrollbar-face-color: #CE7E00;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #6F4709;
    scrollbar-3dlight-color: #11111;
    scrollbar-darkshadow-color: #6F4709;
    scrollbar-track-color: #FFE8C1;
    scrollbar-arrow-color: #6F4709;
}

.scroll2{
    width: 200px;
    background: white;
    padding: 10px;
    overflow: scroll;
    height: 550px;

    /*script tambahan khusus untuk IE */
    scrollbar-face-color: #CE7E00;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #6F4709;
    scrollbar-3dlight-color: #11111;
    scrollbar-darkshadow-color: #6F4709;
    scrollbar-track-color: #FFE8C1;
    scrollbar-arrow-color: #6F4709;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    -webkit-border-radius:10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #000000;
    -webkit-border-radius:10px;
    border-radius: 10px;
}


