<%--
  Created by IntelliJ IDEA.
  User: handoko
  Date: 12/08/2016
  Time: 10.52
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="layout" content="themablue">



</head>
<body>

                    <div class="kotak" style="padding-bottom: 30px;padding-top: 5px">
                        <div id="create-author" class="content scaffold-create" role="main">
                            <center>
                                <h1> Form </h1>


                                <table >

                                    <tr>
                                        <td>
                                            <form action="simpan" method="get" >

                                                <div class="fieldcontain required ">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 100px;height: 40px">
                                                                Nama Grup
                                                            </td>
                                                            <td>
                                                                <input type="text" name="ngrup">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>





                                                <div class="fieldcontain required ">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 100px;height: 50px">
                                                                Max
                                                            </td>
                                                            <td>
                                                                <input type="number" name="batas">

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="fieldcontain required ">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 100px;height: 50px">
                                                                Parent
                                                            </td>
                                                            <td>
                                                                <select name="level">
                                                                    <g:each in="${grupInstanceList}" status="i" var="grupInstance" >
                                                                        <option value="${grupInstance.id}">${fieldValue(bean: grupInstance, field: "ngrup")}</option>

                                                                    </g:each>
                                                                </select>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                <button type="submit">simpan</button>
                                            </form>
                                       </td>
                                    </tr>
                                    </table>
                                </center>
                            </div>
                        </div>







</body>
</html>